main {
    padding: 0px 150px;
}

.container1 {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #DEE2E7;
    border-radius: 7px;
    height: 400px;
}

.left ul {
    font-size: 16px;
    list-style: none;
    line-height: 40px;
    color: #505050;
}

.left ul li {
    padding-left: 10px;
    width: 250px;
    cursor: pointer;
    transition: all 0.1s ease, color 0.1s ease;

}

.show1 {
    background-color: #E5F1FF;
    transform: scale(1);
    border-radius: 7px;
}

.center {
    position: relative;
}

.center img {
    object-fit: contain;
}

.para {
    position: absolute;
    padding-left: 50px;
    padding-top: 50px;
}



.trendings {
    font-size: 28px;
    font-weight: 400;
}

.e-items {
    font-size: 32px;
    font-weight: 700;
}

.l-but {
    height: 40px;
    width: 120px;
    margin-top: 20px;
    background-color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px #38383814;
    font-size: 16px;
    font-weight: 500;

}

.right .box1 {
    background-color: #E3F0FF;
    width: 200px;
    height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 8px;

}

.greetings {
    display: flex;
    gap: 10px;
}

.buttons {
    line-height: 40px;
}

.buttons button {
    width: 180px;
    cursor: pointer;
    height: 30px;
}

.join {
    background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
    color: white;
    border: none;
    border-radius: 8px;
}

.login {
    background-color: white;
    border: 1px solid #DEE2E7;
    border-radius: 8px;
    color: #0D6EFD;

}

.box2 {
    margin-top: 10px;
    padding: 20px;
    width: 200px;
    height: 95px;
    background-color: #F38332;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: all 0.1s ease;

}

.box3 {
    margin-top: 10px;
    padding: 20px;
    width: 200px;
    height: 95px;
    background-color: #55BDC3;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease;

}

.container2 {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border: 1px solid #DEE2E7;
    border-radius: 7px;
    height: 240px;
    display: flex;
    justify-content: start;
    gap: 250px;
}

.countdown {
    padding: 20px;
    height: 240px;
    width: 400px;

}

.deals-equ h3 {
    font-size: 32px;
    font-weight: 600;

}

.deals-equ p {
    font-size: 20px;
    color: #8B96A5;
}

.time {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.days,
.hours,
.minutes,
.seconds {
    text-align: center;
    width: 70px;
    height: 50px;
    background-color: #606060;
    color: white;
    padding: 7px;
    transition: all 0.2s ease-out, color 0.1s ease;

    border-radius: 5px;
}

.days h3,
.hours h3,
.minutes h3,
.seconds h3 {
    font-size: 16px;
    font-weight: 700;
}

.days p,
.hours p,
.minutes p,
.seconds p {
    font-size: 12px;
    font-weight: 400;
}

#products {
    display: flex;
    /* allows wrapping to next line if needed */
    justify-content: space-between;
    /* or use 'space-between' for equal gaps */
    align-items: stretch;
}

.products2 {
    width: 200px;
    max-height: 240px;
    text-align: center;
    border-left: 1px solid #DEE2E7;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding-top: 20px;
    padding-left: 10px;
    transition: all 0.2s ease-out, color 0.1s ease;
    cursor: pointer;

}


.products2 img {
    /* make images responsive within the box */
    width: 130px;
    height: auto;
    object-fit: contain;
}

.discount {
    width: 59px;
    background-color: #FFE3E3;
    color: #EB001B;
    width: 59;
    height: 28;
    top: 190px;
    left: 57px;
    opacity: 1;
    border-radius: 29px;
    padding: 4px 13px;
    font-size: 14px;
    font-weight: 500;
}

.container3 {
    background-color: white;
    margin-top: 20px;
    border: 1px solid #DEE2E7;
    border-radius: 7px;
    height: 259px;
    display: flex;
}

.home-outdoor {
    position: relative;
}

.para2 {
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
}

.para2 .outdoor {
    font-size: 20px;
    font-weight: 600;
}

.para2 .l-but2 {
    height: 40px;
    width: 120px;
    margin-top: 20px;
    background-color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px #38383814;
    font-size: 16px;
    font-weight: 500;
}

#grid1 {
    display: grid;
    grid-template-rows: 129px 129px;
    grid-template-columns: 331px 331px 331px 331px;
}

.acessories {
    padding: 20px;
    position: relative;
    border-left: 1px solid #DEE2E7;
    border-bottom: 1px solid #DEE2E7;
    transition: all 0.2s ease-out, color 0.1s ease;
    cursor: pointer;

}

.acessories p {
    font-size: 16px;
    cursor: pointer;
    width: 140px;

}

.acessories .usd {
    position: absolute;
    padding-top: 10px;
    font-size: 13px;
    color: #8B96A5;
}

.acessories img {
    margin-left: 220px;


}

.container4 {
    background-color: white;
    margin-top: 20px;
    border: 1px solid #DEE2E7;
    border-radius: 7px;
    height: 259px;
    display: flex;
}

.consumer-electronics {
    position: relative;
}

.para3 {
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
}

.para3 .consumer {
    font-size: 20px;
    font-weight: 600;
}

.para3 .l-but3 {
    height: 40px;
    width: 120px;
    margin-top: 20px;
    background-color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px #38383814;
    font-size: 16px;
    font-weight: 500;
}

#grid2 {
    display: grid;
    grid-template-rows: 129px 129px;
    grid-template-columns: 331px 331px 331px 331px;
}

.acessories1 {
    padding: 20px;
    position: relative;
    border-bottom: 1px solid #DEE2E7;
    border-left: 1px solid #DEE2E7;
    transition: all 0.2s ease-out, color 0.1s ease;
    cursor: pointer;


}

.acessories1 p {
    font-size: 16px;
    cursor: pointer;
    width: 120px;

}

.acessories1 .usd1 {
    position: absolute;
    padding-top: 10px;
    font-size: 13px;
    color: #8B96A5;
}

.acessories1 img {
    margin-left: 220px;

}

.container5 {
    background-color: white;
    margin-top: 20px;
    border: 1px solid #DEE2E7;
    border-radius: 7px;
    height: 420px;
    position: relative;
}

.container5 .para4 {
    position: absolute;
    padding: 50px;
    color: white;

}

.container5 .request {
    font-size: 32px;
    font-weight: 600;

}

.container5 p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.container5 img {
    width: 1605px;
}

.container5 .inquiry {
    position: absolute;
    background-color: white;
    width: 491px;
    height: 346px;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px #38383840;
    right: 35px;
    top: 35px;
    padding-left: 20px;
    padding-top: 20px;
}

.suppliers {
    color: #1C1C1C;
    font-size: 20px;
    font-weight: 600;
}

#need-item {
    border: 1px solid #DEE2E7;
    width: 440px;
    height: 40px;
    opacity: 1;
    border-radius: 6px;
    outline: none;
    padding-left: 10px;
    margin-top: 20px;
}

#need-item::placeholder {
    color: black;
    font-size: 16px;
}

#details {
    width: 440px;
    height: 73px;
    border: 1px solid #DEE2E7;
    border-radius: 6px;
    outline: none;
    padding: 10px;
    margin-top: 20px;
    resize: none;
}

#details::placeholder {
    color: #8B96A5;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    line-height: 1.2;
}

#quantity {
    border: 1px solid #DEE2E7;
    width: 206px;
    height: 40px;
    opacity: 1;
    border-radius: 6px;
    outline: none;
    padding-left: 10px;
    margin-top: 20px;
}

#quantity::placeholder {
    color: black;
    font-size: 16px;
}

#pcs {
    color: #1C1C1C;
    border-left: none;
    border: 1px solid #DEE2E7;
    border-radius: 6px;
    height: 40px;
    width: 110px;
    font-size: 16px;
    outline: none;
    padding-left: 10px;
    appearance: none;
    cursor: pointer;
    margin-left: 5px;
    background: url('data:image/svg+xml;utf8,<svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.59 0.295044L6 4.87504L1.41 0.295044L0 1.70504L6 7.70504L12 1.70504L10.59 0.295044Z" fill="%238B96A5"/></svg>') no-repeat right 10px center;
}

.send {
    height: 40px;
    margin-top: 20px;
    width: 130px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 6px;
    background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
    cursor: pointer;
}

.container6 {
    margin-top: 30px;

}

.container6 h1 {
    font-size: 24px;
    font-weight: 600;
}

#grid3 {
    display: grid;
    margin-top: 25px;
    grid-template-columns: 305px 305px 305px 305px 305px;
    grid-template-rows: 320px 320px;
    column-gap: 20px;
    row-gap: 20px;
    /* background-color: white;
    border-radius: 6px;

    border: 1px solid #DEE2E7; */

}

.rec-items {
    background-color: white;
    border: 1px solid #DEE2E7;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease-out, color 0.1s ease;


}

.rec-items img {
    margin: 0px 35px;
}

.usd2 {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
}

.quality {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #8B96A5;

}

.container7 {
    margin-top: 30px;

}

.container7 h1 {
    font-size: 24px;
    font-weight: 600;
}

#grid4 {
    display: grid;
    grid-template-columns: 386px 386px 386px 386px;
    grid-template-rows: 200px;
    gap: 20px;
}

.extra-ser {
    margin-top: 25px;
    background-color: white;
    position: relative;
}

.extra-ser p {
    margin-top: 16px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
}

.image-wrapper {
    background-color: #383838;
    height: 120px;
}

.ellipse {
    position: absolute;
    right: 20px;
    top: 92px;
    cursor: pointer;
    transition: all 0.2s ease-out, color 0.1s ease;

}

.icon {
    position: absolute;
    right: 37px;
    top: 108px;
    cursor: pointer;
}

.container8 {
    margin-top: 30px;
    margin-bottom: 45px;

}

.container8 h1 {
    font-size: 24px;
    font-weight: 600;
}

#grid5 {
    display: grid;
    margin-top: 25px;
    grid-template-columns: 305px 305px 305px 305px 305px;
    grid-template-rows: 36px 36px;
    gap: 20px;
}

.regions {
    display: flex;
    gap: 10px;
    transition: all 0.2s ease-out, color 0.1s ease;
    cursor: pointer;
}

.regions img {
    margin: 8px 0px;

}

.regions .name {
    font-size: 16px;
    font-weight: 400;
}

.url {
    color: #8B96A5;
    font-size: 13px;

}