.left ul li:hover {
    background-color: #E5F1FF;
    border-radius: 7px;
    transform: scale(1.01);
}

/* .search-button:hover {
    transform: scale(1.05);
} */
.layout li:hover {
    text-decoration: underline;
    transform: scale(1.05);

}

.items li:hover {
    text-decoration: underline;
    transform: scale(1.02);
}

/* Home Page Animations */
.box2:hover,
.box3:hover {
    transform: scale(1.05);
}

.social li:hover {
    transform: scale(1.05);
}

.about ul li:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

.partnership ul li:hover {
    text-decoration: underline;
    transform: scale(1.05);

}

.informations ul li:hover {
    text-decoration: underline;
    transform: scale(1.05);

}

.forusers ul li:hover {
    text-decoration: underline;
    transform: scale(1.05);

}

.getapp img:hover {
    transform: scale(1.05);

}

.days:hover,
.hours:hover,
.minutes:hover,
.seconds:hover {
    transform: scale(1.05);

}


.products2 p:hover,
.acessories p:hover,
.acessories1 p:hover,
.regions .url:hover {
    text-decoration: underline;

}

.products2:hover,
.acessories1,
.rec-items:hover:hover,
.acessories:hover {
    background-color: #DEE2E7;
    transform: scale(1.05);

}

.regions:hover {
    background-color: #DEE2E7;
    transform: scale(1.05);
    border-radius: 6px;
}

.ellipse:hover {
    transform: scale(1.1);
}

/* List view page Animations */

